<!--
<mat-tab-group (selectedIndexChange)="tabChanged($event)">
  <mat-tab label="Pestaña 1">
    <p>Contenido de la Pestaña 1</p>
  </mat-tab>
  <mat-tab label="Pestaña 2">
    <p>Contenido de la Pestaña 2</p>
  </mat-tab>
  <mat-tab label="Pestaña 3">
    <p>Contenido de la Pestaña 3</p>
  </mat-tab>

</mat-tab-group>
-->
<mat-card>
  <mat-card-content>
    <div fxLayout="row">
      <div fxFlex="30%">
        <mat-card style="margin: 30px">
          <mat-card-content>
            <div fxLayout="column">
              <div fxLayout="row">
                <mat-form-field>

                  <input type="text"
                         matInput
                         placeholder="Moneda de origen"
                         [(ngModel)]="monedaOrigen"
                         maxlength="3">
                </mat-form-field>
                <mat-form-field style="margin-left: 10px">

                  <input type="text"
                         matInput
                         placeholder="Moneda de destino"
                         [(ngModel)]="monedaDestino"
                         maxlength="3">
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <mat-form-field>
                  <input type="number"
                         min="0"
                         step="0.10"
                         matInput
                         placeholder="monto"
                         [(ngModel)]="montoConvertir"
                  >
                </mat-form-field>
                <button mat-raised-button color="primary"
                        style="margin-left: 10px; width:200px; height:60px"
                        (click)="convertirMonto()"
                >
                  Convertir Moneda
                </button>
              </div>
            </div>
          </mat-card-content>
          <mat-card-footer>{{result}}</mat-card-footer>
        </mat-card>
      </div>
      <div fxFlex="70%">
        <table mat-table [dataSource]="tiposCambio" class="mat-elevation-z8">

          <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="Moneda Origen">
            <th mat-header-cell *matHeaderCellDef>Moneda Origen</th>
            <td mat-cell *matCellDef="let element"> {{element.monedaOrigen}} </td>
          </ng-container>

          <ng-container matColumnDef="Moneda Destino">
            <th mat-header-cell *matHeaderCellDef>Moneda Destino</th>
            <td mat-cell *matCellDef="let element"> {{element.monedaDestino}} </td>
          </ng-container>

          <ng-container matColumnDef="Tasa de cambio">
            <th mat-header-cell *matHeaderCellDef>Tasa de cambio</th>
            <td mat-cell *matCellDef="let element"> {{element.tasaCambio}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </mat-card-content>

</mat-card>

